@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Righteous&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a{
    text-align: center;
    color: #e3e60e;
    text-decoration: none;
    padding: 35px;
}




main section{
    text-align: center;
}



.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; */
    /* grid-gap: 20px; */
}


#arcade-img  {
    margin: 100px;
}

.home-info {
    padding: 50px;

}



#background{
    height: 725px;
    background-color: #000000;
    margin: 500px;
    padding: 500px 500px;
    /* grid-column: 1/11;
    grid-row: 4/9; */
}

body{
    background-color: #03e9f8;
    font-family: 'Righteous', Comic Neue;
    font-size: 22px;
    margin: 0;
    padding: 0;
    
}

header{
    background-color: #f182f0;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover{
    background-color: #e3e60e;
    color: #f182f0;
}

.logo{
    width: 80px;
}



#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

footer{
    background-color: #e3e60e;
    color: #f182f0;
    padding: 25px 50px;
    margin-top: 200;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a{
    color: #f182f0;
    text-decoration: none;
}
footer a:hover{
    color: #03e9f8;
    text-decoration: underline;
}



footer p {
    font-size: 1.2em;
} 



footer .social img{
    padding-top: 15px;
}

.information {
    background-color:#79C6D8;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-gap: 20px;
    margin: 50px;
    

}

#hero {
    /* display: grid;
    grid-template: 100px 100px 100px / 1fr 1fr 1fr; */
}

#hero-box {
    /* grid-column: 2/3;
    grid-row: 1/2; */
}

#hero-img{
    /* padding: 0px 50% 0px 50%; */
    
}
#hero-msg{
    /* grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template: 100px 100px 100px / 1fr 1fr 1fr; */
    position: relative;
    text-align: center;
    background-image: url("../images/rsz_rsz_1crinkle_compressed-3.png");
    background-size: cover;
    background-position: center;


}

#hero-msg img{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    margin: auto;

}

#hero-img{
    display: block;
    margin: auto;
}


#hero-img{
    display: block;
    text-align: center;
    margin:  auto;
    padding-top: 50px;  
   
}

img#welcome-gif  {
    width: 30%;
}

#top-img{
    /* display: grid;
    grid-column: 2/3;
    grid-row: 2/4; */
    /* margin: 0 auto;
    padding: 0px 50% 0px 50%; */
    
    

}

